.container-section {
  @apply
  max-w-7xl
  mx-auto
  px-6
  lg:px-8;
}
.section {
  @apply
  py-20
  lg:py-28;
}
.section-title {
  @apply
  text-4xl
  md:text-5xl
  font-bold
  text-center;
}
.section-subtitle {
  @apply
  mt-5
  text-lg
  text-slate-500
  max-w-3xl
  mx-auto
  text-center;
}
.card {
  @apply
  rounded-3xl
  bg-white
  p-6
  border
  border-slate-200;
}
.card-hover {
  @apply
  transition-all
  duration-300
  hover:-translate-y-2
  hover:shadow-xl;
}
.btn-primary {
  @apply
  inline-flex
  items-center
  justify-center
  rounded-xl
  px-8
  py-4
  font-semibold
  text-white
  transition-all
  duration-300;
  
  background: var(--color-primary);
}

.btn-primary:hover{
  background: var(--color-primary-dark);
}
.btn-secondary {
  @apply
  inline-flex
  items-center
  justify-center
  rounded-xl
  border
  px-8
  py-4
  font-semibold
  transition-all;
}